<div class="promo" id="promo">
    <div class="box" style="background: url(.//src/assets/hero-2.png) #edc2159d ;">
        <div class="titel">
            <h1>Title Here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. </p>
            <div class="cards d-flex justify-content-center">
                <div class="card">
                    <i>
                        <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="3.847in" height="3.847in">
<path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="10px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
 d="M136.000,5.000 C208.349,5.000 267.000,63.651 267.000,136.000 C267.000,208.349 208.349,267.000 136.000,267.000 C63.651,267.000 5.000,208.349 5.000,136.000 C5.000,63.651 63.651,5.000 136.000,5.000 Z"/>
</svg>
                        <div class="text">
                            <h2>3.5k</h2>
                            <p>Pet Care</p>
                        </div>
                    </i>
                </div>
                <div class="card">
                    <i>
                        <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="3.847in" height="3.847in">
<path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="10px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
 d="M136.000,5.000 C208.349,5.000 267.000,63.651 267.000,136.000 C267.000,208.349 208.349,267.000 136.000,267.000 C63.651,267.000 5.000,208.349 5.000,136.000 C5.000,63.651 63.651,5.000 136.000,5.000 Z"/>
</svg>
                        <div class="text">
                            <h2>900</h2>
                            <p>Outlet</p>
                        </div>
                    </i>
                </div>
                <div class="card">
                    <i>
                        <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="3.847in" height="3.847in">
<path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="10px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
 d="M136.000,5.000 C208.349,5.000 267.000,63.651 267.000,136.000 C267.000,208.349 208.349,267.000 136.000,267.000 C63.651,267.000 5.000,208.349 5.000,136.000 C5.000,63.651 63.651,5.000 136.000,5.000 Z"/>
</svg>
                        <div class="text">
                            <h2>2k+</h2>
                            <p>Pet Helping</p>
                        </div>
                    </i>
                </div>
            </div>
           
        </div>
    </div>
</div>