<div class="pricing" id="pricing">
<div class="box" style="background: #5380c1;">
    <div class="titel">
        <h1>Pricing</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. </p>
        <div class="cards box-container">
            <div class="card">
                <div class="titel-card">
                    <h4>Premium</h4>
                </div>
                <div class="img-card">
                    <img src=".//src/assets/Icon.png" alt="">
                </div>
                <div class="monye">
                    <h4>$19.00</h4>
                </div>
                <div class="p-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                </div>
                <div class="order">
                    <a href="#" class="order-but" >Order Now</a>
                 </div>
            </div>
            <div class="card">
                <div class="titel-card">
                    <h4>Premium</h4>
                </div>
                <div class="img-card">
                    <img src=".//src/assets/Icon.png" alt="">
                </div>
                <div class="monye">
                    <h4>$19.00</h4>
                </div>
                <div class="p-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                </div>
                <div class="order">
                    <a href="#" class="order-but" >Order Now</a>
                 </div>
            </div>
            <div class="card">
                <div class="titel-card">
                    <h4>Premium</h4>
                </div>
                <div class="img-card">
                    <img src=".//src/assets/Icon.png" alt="">
                </div>
                <div class="monye">
                    <h4>$19.00</h4>
                </div>
                <div class="p-card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
                </div>
                <div class="order">
                    <a href="#" class="order-but" >Order Now</a>
                 </div>
            </div>
        </div>
    </div>
</div>
</div>