<div class="product" id="product" style="background: #6596da;">
    <div class="left">
        <img src=".//src/assets/left.png" alt="">
        <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="1.486in" height="1.403in">
<path fill-rule="evenodd"  stroke="rgb(237, 195, 21)" stroke-width="10px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
 d="M5.000,18.888 L96.999,5.007 L63.115,90.995 L5.000,18.888 Z"/>
</svg>
    </div>
    <div class="reat" style="float: right">
        <img src=".//src/assets/reat.png" alt="">
    </div>
    <div class="box">
        <div class="titel">
            <h1>Title Here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        </div>
        <div class="box-container">
            <div class="card">
                <div class="img"><img src=".//src/assets/1.png" alt=""></div>
                <div class="title">
                    <h1>Pet Care</h1>
                </div>
                <div class="end">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src=".//src/assets/2.png" alt=""></div>
                <div class="title">
                    <h1>Pet Shop</h1>
                </div>
                <div class="end">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src=".//src/assets/3.png" alt=""></div>
                <div class="title">
                    <h1>Pet Help</h1>
                </div>
                <div class="end">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
   
</div>
