<div class="text" id="text">
    <div class="box" style="background-color: #5380c1;">
        <div class="titel">
            <h1>Title Here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
            <a href="" class="order-but"> Order Now </a>
        </div>
        <img src=".//src/assets/4.png" alt="">
    </div>
    <div class="box" style="background-color: #739ee3;">
        <img src=".//src/assets/4.png" alt="">
        <div class="titel-2">
            <h1>Title Here</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
            <a href="" class="order-but-2"> Order Now </a>
        </div>
       
    </div>
</div>