<div class="lest" id="lest" style="background-color: #739ee3;">
   
<div class="box">
    
    <div class="titel">
        <h1>Title Here</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. </p>
    </div>
    <div class="box-container container ">
        <div class="cards row" style="margin-left: 80px;">
            <div class="card col-6 col-sm-3 " >
                <div class="box-1 d-flex">
                    <div class="img-card ">
                        <img src=".//src/assets/Icon-2.png" alt="">
                    </div>
                    <div class="title-card col">
                        <h3>lorem ipsum</h3>
                        <div class="p-card ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.</div>
                    </div>
                </div>
                
            </div>
            <div class="card col-6 col-sm-3 " style="margin-left: 350px;">
                <div class="box-1 d-flex">
                    <div class="img-card ">
                        <img src=".//src/assets/Icon-2.png" alt="">
                    </div>
                    <div class="title-card col">
                        <h3>lorem ipsum</h3>
                        <div class="p-card ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.</div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="cards row " style="margin-left: 80px;">
            <div class="card col-6 col-sm-3 ">
                <div class="box-1 d-flex">
                    <div class="img-card ">
                        <img src=".//src/assets/Icon-2.png" alt="">
                    </div>
                    <div class="title-card col">
                        <h3>lorem ipsum</h3>
                        <div class="p-card ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.</div>
                    </div>
                </div>
                
            </div>
            <div class="card col-6 col-sm-3" style="margin-left: 350px;">
                <div class="box-1 d-flex">
                    <div class="img-card ">
                        <img src=".//src/assets/Icon-2.png" alt="">
                    </div>
                    <div class="title-card col">
                        <h3>lorem ipsum</h3>
                        <div class="p-card ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim.</div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

</div>